# Ignore IDE files
/.project
/**/.classpath

# Ignore IntelliJ IDEA files
/**/*.iml
.idea

# ignore OS junk files
.DS_Store

# ignore Maven generated target folders
~
target
bin
classes
*.zip

# Ignore Maven target/ dirs
/**/target/**/*

#Ignore Maven generated artifacts
/**/.classpath
/**/.project
/**/.settings

# ignore diagram images
*.png

# temp files
*~

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# ignore .svn metadata files
.svn
